html {
  width:auto !important;
  height:auto !important;
}

body {
  height:auto !important;
  width:auto !important;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
    color: #fff;
    font-size: 1.6875rem;
    line-height: 1.75rem;
}

h3 {
  font-size: 1.4375rem;
  font-weight: bold;
}

h4 {
  font-size: 1.125rem;
  font-weight: bold;
}

h5 {
  font-size: 1.2rem;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.top-header {
  max-width: none;
}

.title-header {
  padding: 5px;
  background-color: #666;
  text-align: center;
}

.information {
  padding: 1rem;
  background-color: #c2c2c2;
}

.tagline {
  color: #333;
  max-width: 1000px;
  margin: 0 auto;
}

.locations {
  padding: 1rem;
}

.geek-box {
  background-color: #666;
  color: #fff;
}

.geek-box h3 {
  color: #fff;
}

.geek-box a, .geek-box a:hover .geek-box a:visited {
  color: #ffffb2
}
